* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* scroll-margin-bottom: smooth; */
}


:root {
  /* Colors*/
  /* Primary*/
  --Red: hsl(1, 90%, 64%);
  --Blue: hsl(219, 85%, 26%);

  /* Neutral */
  --White: hsl(0, 0%, 100%);
  --Very-light-grayish-blue: hsl(210, 60%, 98%);
  --Light-grayish-blue-1: hsl(211, 68%, 94%);
  --Light-grayish-blue-2: hsl(205, 33%, 90%);
  --Grayish-blue: hsl(219, 14%, 63%);
  --Dark-grayish-blue: hsl(219, 12%, 42%);
  --Very-dark-blue: hsl(224, 21%, 14%);
}

/* HEADER ------------------------------------ */
header {
  padding: 1.7rem;
  width: 100%;
  min-width: 320px;
  height: 4rem;
}

.notifications{
  display: inline;
  font-size: 1.6rem;
}
.notifications-number{
  color: var(--Very-light-grayish-blue);
  font-size: 1.5rem;
  background-color: var(--Blue);
  padding: 0 1rem 0.2rem 1rem;
  border-radius: 0.5rem;
}

.mark-read{
  display: inline;
  position: relative;
  left: 2rem;
  font-size: 1.3rem;
  color: var(--Blue);
}
.mark-read:hover{
  cursor: pointer;
}

main{
  padding: 1rem;
  width: 100%;
  min-width: 320px;
}
/* All the notifications */
article{
  /* min-width: 320px; */
  /* height: 10rem; */
  margin-bottom: 1rem;
  padding: 1rem 0 1.7rem 0;
  border-radius: 1rem;
}

img {
  width: 3.5rem;
}

/* UNREAD notifications -------------------------------*/
.unread-notif{
  padding: 1rem 0 .1rem 0;
  /* border-radius: 1rem; */
}

/* MARK WEBBER */
.mark-webber{
  display: flex;
  width: 98%;
  max-width: 375px;
  align-items: center;
  padding: 1rem 0 2.5rem 1rem;
  margin: .5rem auto;
  background-color: var(--Very-light-grayish-blue);
}
.mark-webber p{
  /* min-width: 250px; */
  max-width: 20rem;
  font-size: 1.3rem;
  padding-left: 1rem;
  line-height: 1.7rem;
  color: var(--Dark-grayish-blue);
}
.mark-webber .time-post__mark{
  position: absolute;
  /* right: calc(45% + 63px); */
  padding-left: 4.4rem;
  top: 13rem;
  width: 40%;
  font-size: 1.2rem;
  color: var(--Grayish-blue);
}
.strong-mark{
  color: var(--Dark-grayish-blue);
}
.mark-webber .strong-mark:hover{
  color: var(--Blue);
  cursor: pointer;
}
.strong-mark__name{
  color: var(--Very-dark-blue);
}
.strong-mark__name:hover{
  cursor: pointer;
  color: var(--Blue);
}
.mark-webber .circle-mark__container{
  position: absolute;
  top: .5rem;
}
.mark-webber .circle-mark{
  position: absolute;
  top: 10rem;
  left: 26.5rem;
  width: 8px;
  height: 8px;
  border-radius: 5px;
  background: var(--Red);
}

/* ANGELA GRAY */
.angela-gray{
  display: flex;
  width: 98%;
  max-width: 375px;
  align-items: center;
  padding: 1rem 0 2.5rem 1rem;
  margin: .5rem auto;
  background-color: var(--Very-light-grayish-blue);
}
.angela-gray p{
  max-width: 20rem;
  font-size: 1.3rem;
  padding-left: 1rem;
  padding-bottom: 1.5rem;
  line-height: 1.7rem;
  color: var(--Dark-grayish-blue);
}
.angela-gray .time-post__angela{
  position: absolute;
  /* right: calc(35% + 46px); */
  padding-left: 4.4rem;
  top: 20rem;
  width: 40%;
  font-size: 1.2rem;
  color: var(--Grayish-blue);
}
.strong-angela__name{
  color: var(--Very-dark-blue);
}
.strong-angela__name:hover{
  cursor: pointer;
  color: var(--Blue);
}
.angela-gray .circle-angela__container{
  position: absolute;
  top: 1.5rem;
}
.angela-gray .circle-angela{
  position: absolute;
  top: 17.3rem;
  left: 26.5rem;
  width: 8px;
  height: 8px;
  border-radius: 5px;
  background: var(--Red);
}

/* JACOB THOMPSON */
.jacob-thompson{
  display: flex;
  width: 98%;
  max-width: 375px;
  align-items: center;
  padding: 1rem 0 2.5rem 1rem;
  margin: .5rem auto;
  background-color: var(--Very-light-grayish-blue);
}
.jacob-thompson p{
  max-width: 20rem;
  font-size: 1.3rem;
  padding-left: 1rem;
  line-height: 1.7rem;
  color: var(--Dark-grayish-blue);
}
.jacob-thompson .time-post__jacob{
  position: absolute;
  /* right: calc(45% + 32px); */
  padding-left: 4.4rem;
  top: 29.5rem;
  width: 40%;
  font-size: 1.2rem;
  color: var(--Grayish-blue);
}
.strong-jacob{
  color: var(--Blue);
}
.jacob-thompson .strong-jacob:hover{
  cursor: pointer;
}
.strong-jacob__name{
  color: var(--Very-dark-blue);
}
.strong-jacob__name:hover{
  cursor: pointer;
  color: var(--Blue);
}
.jacob-thompson .circle-jacob__container{
  position: absolute;
  top: 1rem;
}
.jacob-thompson .circle-jacob{
  position: absolute;
  top: 26rem;
  left: 26.5rem;
  width: 8px;
  height: 8px;
  background: var(--Red);
  border-radius: 5px;
}

/* READ NOTIF ---------------------------------- */
.read-notif{
  padding: 1rem 0 1.7rem 0;
}
/* RIZKY */
.Rizky{
  /* display: flex; */
  width: 98%;
  max-width: 375px;
  align-items: center;
  padding: 1rem 0 2rem 1rem;
  margin: .5rem auto;
}
.Rizky .p1{
  position: relative;
  top: -3.7rem;
  max-width: 20rem;
  font-size: 1.3rem;
  padding-left: 4.6rem;
  line-height: 1.7rem;
  color: var(--Dark-grayish-blue);
}
.Rizky .time-post__rizky{
  position: absolute;
  top: 40.2rem;
  padding-left: 4.6rem;
  font-size: 1.2rem;
  color: var(--Grayish-blue);
}
.Rizky .private-message{
  /* display: flex; */
  position: relative;
  /* width: 65%; */
  height: 9.7rem;
  width: 20rem;
  padding: 1.5rem 1rem 1.5rem 1rem;
  margin-left: 4.4rem;
  margin-top: -1rem;
  font-size: 1.1rem;
  border: solid .1rem var(--Light-grayish-blue-2);
  border-radius: .5rem;
  color: var(--Dark-grayish-blue);
}
.private-message:hover{
  background-color: var(--Light-grayish-blue-2);
  cursor: pointer;
}
.strong-rizky__name{
  color: var(--Very-dark-blue);
}
.strong-rizky__name:hover{
  cursor: pointer;
  color: var(--Blue);
}

/* KIMBERLY */
.kimberly{
  display: flex;
  width: 98%;
  max-width: 375px;
  align-items: center;
  padding: 1.8rem 0 2rem 1rem;
  margin: .5rem auto;
}
.kimberly p{
  max-width: 20rem;
  font-size: 1.3rem;
  padding-left: 1rem;
  line-height: 1.7rem;
  color: var(--Dark-grayish-blue);
}
figure{
  position: absolute;
  padding-left: 23.5rem;
  padding-top: .1rem;
}
.kimberly .img2{
  /* position: absolute; */
  width: 2.9rem;
  /* left: 26rem; */
}
.kimberly .img2:hover{
  cursor: pointer;
}
.kimberly .time-post__kimberly{
  position: absolute;
  padding-left: 4.4rem;
  top: 60.5rem;
  width: 40%;
  font-size: 1.2rem;
  color: var(--Grayish-blue);
}
.strong-kimberly__name{
  color: var(--Very-dark-blue);
}
.strong-kimberly__name:hover{
  cursor: pointer;
  color: var(--Blue);
}

/* NATHAN */
.nathan{
  display: flex;
  width: 98%;
  max-width: 375px;
  align-items: center;
  padding: 2rem 0 2rem 1rem;
  margin: .5rem auto;
}
.nathan p{
  max-width: 20rem;
  line-height: 1.7rem;
  font-size: 1.3rem;
  padding-left: 1rem;
  color: var(--Dark-grayish-blue);
}
.nathan .time-post__nathan{
  position: absolute;
  top: 71.4rem;
  width: 40%;
  padding-left: 4.4rem;
  font-size: 1.2rem;
  color: var(--Grayish-blue);
}
.strong-nathan{
  color: var(--Dark-grayish-blue);
}
.strong-nathan:hover{
  cursor: pointer;
}
.strong-natan__name{
  color: var(--Very-dark-blue);
}
.strong-natan__name:hover{
  cursor: pointer;
  color: var(--Blue);
}

/* ANNA */
.anna{
  display: flex;
  width: 98%;
  max-width: 375px;
  align-items: center;
  padding: 1.3rem 0 1rem 1rem;
  margin: .5rem auto;
}
.anna p{
  max-width: 20rem;
  position: relative;
  line-height: 1.7rem;
  font-size: 1.3rem;
  padding-left: 1rem;
  top: -1rem;
  color: var(--Dark-grayish-blue);
}
.anna .time-post__anna{
  position: absolute;
  top: 78rem;
  padding-left: 4.4rem;
  width: 40%;
  font-size: 1.2rem;
  color: var(--Grayish-blue);
}
.strong-anna{
  color: var(--Blue);
}
.anna .strong-anna:hover{
  cursor: pointer;
}
.strong-anna__name{
  color: var(--Very-dark-blue);
}
.strong-anna__name:hover{
  cursor: pointer;
  color: var(--Blue);
}